<nav>
  <ul>
    <li>
      <a routerLink="/login"><i class="fas fa-sign-in-alt p-r-4"></i> Login</a>
    </li>
    <li>
      <a routerLink="/signup"><i class="fas fa-user-plus p-r-4"></i> Signup</a>
    </li>
    <li>
      <a routerLink="/dummy"><i class="fas fa-archive p-r-4"></i> Dummy</a>
    </li>
    <li>
      <a routerLink="/employee"
        ><i class="fas fa-user-tie p-r-4"></i> EmployeeList</a
      >
    </li>
    <li>
      <a routerLink="/employee-details"
        ><i class="far fa-id-card p-r-4"></i> Employee details</a
      >
    </li>
    <li>
      <a href="/pagination"><i class="fab fa-page4 p-r-4"></i> Pagination</a>
    </li>
  </ul>
</nav>
