<form class="newlogin" [formGroup]="loginform">
  <div class="login-group">
    <label for="username">USER NAME</label>
    <input
      type="text"
      name="username"
      formControlName="username"
      required
      minlength="3"
    />
    <small
      *ngIf="
        loginform.controls['username']?.touched &&
        loginform.controls['username']?.errors &&
        loginform.controls['username']?.errors?.['required']
      "
      >UserName is required</small
    >
    <small
      *ngIf="
        loginform.controls['username']?.touched &&
        loginform.controls['username']?.errors &&
        loginform.controls['username']?.errors?.['minlength']
      "
      >UserName should have atleast 3 letters</small
    >
  </div>
  <div class="login-group">
    <label for="password">PASSWORD</label>
    <input
      type="text"
      name="password"
      formControlName="password"
      required
      minlength="3"
    />
    <small
      *ngIf="
        loginform.controls['password']?.touched &&
        loginform.controls['password']?.errors &&
        loginform.controls['password']?.errors?.['required']
      "
      >Password is required</small
    >
    <small
      *ngIf="
        loginform.controls['password']?.touched &&
        loginform.controls['password']?.errors &&
        loginform.controls['password']?.errors?.['minlength']
      "
      >Password should have atleast 3 letters</small
    >
  </div>

  <div>
    <button (click)="login()">Login</button>
  </div>
</form>
