.newlogin {
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  width: 50%;
  color: white;
  padding: 10px;
  border-radius: 4px;
}
.login-group {
  color: white;
  padding: 20px;
}
button {
  color: black;
  background-color: aquamarine;
  padding: 11px 0px;
  width: 50%;
  font-size: 14px;
  border-radius: 34px;
  font-weight: bold;
}
small {
  width: 100%;
  color: red;
  display: block;
}
.login {
  text-align: center;
}
.us {
  padding-right: 10px;
}
.text-align {
  text-align: center;
}
